##### Script to analayze website data for the Case Study 1 of the ATPA modules

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import openpyxl

In [16]:
tracking = pd.read_csv("Data/tracking.csv")
print('tracking')
display(tracking.head())
print('Shape of the daily DataFrame is {}'.format(tracking.shape))

daily = pd.concat([pd.read_excel("Data/site_daily.xlsx", sheet_name='First Half'), 
                   pd.read_excel("Data/site_daily.xlsx", sheet_name='Second Half')], 
                   axis=0)
print('\n daily')
display(daily.head())
print('Shape of the daily DataFrame is {}'.format(daily.shape))
#### Variables:
# date - values from Jan 1 - Dec 31, 2017
# news - 1, if news story posted; 0, else
# num_ads - number of ads posted on the web page
# num_links - number of links to articles
# headliner_topic - topic of the top article linked

tracking

          Day  Duration  Previous    gender
0  2017-08-18        11         0  Unlisted
1  2017-08-18         8         0    Female
2  2017-08-18         3         0      Male
3  2017-08-18         2         1     Other
4  2017-08-18         4         1     Other

Shape of the daily DataFrame is (22406, 4)

 daily

        date  news  num_ads  num_links   headliner_topic
0 2017-01-01   1.0        5          3        technology
1 2017-01-02   1.0        5          1        technology
2 2017-01-03   1.0        5          4     visualization
3 2017-01-04   0.0        6          4  machine learning
4 2017-01-05   0.0        6          4     visualization

Shape of the daily DataFrame is (365, 5)